.posts {
    &__title {
        text-align: center;
    }
    &__container {
        min-height: 100vh;
        text-align: justify;
        padding: 20px;
        margin: 20px;
    }
    &__post {
        border: 1px solid black;
        border-radius: 5px;
        background-color: whitesmoke;
        padding: 20px;
        margin-bottom: 20px;
    }
}