.header {
    &__socialPage {
    padding: 0;
    color: whitesmoke;
    }

    &__socialPage-title {
    margin: 13px;
    font-size: 50px;
    
   }
}
.menu-nav {
    &__menu {
        background-color: whitesmoke;
        font-size: 20px;
    }
}
