.search {
    &__title {
        text-align: center;
    }
    &__container {
        min-height: 100vh;
        text-align: center;
    }
    &__container-search {
      display: flex;
      justify-content: center;
    
    } 
    &__input {
        width: 500px;
    }
}